@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To Bike Service</h1>
    <img src="~/images/Wheel.png" style="height:60vh" alt="Alternate Text" class="wheel" />
</div>
